<!DOCTYPE html>
<html ng-app='store'>
 <head>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 </head>
 <body ng-controller='StoreController as store'>
 	<div ng-repeat='products in store.product'>
 			<h1>nom : {{products.name}}</h1>
 			<h2>prix : {{products.price}}</h2>
 			<p>description : {{products.description}}</p>
 		    <img ng-src="{{products.image[0].full}}" alt="diamond"/>
 			<button ng-show="store.product.disponible">Ajouter au panier</button> 		
 	</div>	
	<section ng-controller="PanelController as panel">
		<ul class="nav navbar-nav">
			<li ng-class="{ active: panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)">Description</a></li>
			<li ng-class="{ active: panel.isSelected(2) }"> <a href ng-click="panel.selectTab(2)">Specification</a></li>
			<li ng-class="{ active: panel.isSelected(3) }"> <a href ng-click="panel.selectTab(3)">Revision</a></li>
		</ul>
		<div ng-show="tab === 1">
			<h4>Description</h4>
			<p>blabla</p>
		</div>
		<div ng-show="tab === 2">
			<h4>Description</h4>
			<p>bloblo</p>
		</div>
		<div ng-show="tab === 3">
			<h4>Description</h4>
			<p>blibli</p>
		</div>
	
	</section>	
  	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
 </body>
</html>